<% content_for :title do %>
Profiles
<% end %>

<div class="row">
  <div class="large-12 column">
   <h3>Profiles</h3>
 </div>

 <% @profiles.each do |profile| %>
 <%= render profile %>
 <% end %>

</div>
