<div class="border-bottom margin-bottom-one comment">

  <div class="row">
    <div class="column large-1">
      <%= link_to comment.profile, :class=> "" do %>
      <img src="<%= comment.profile.image %>" alt="<%= comment.profile.name %>">
      <% end %>
    </div>
    <div class="column large-11 padding-left-none">
      <%= markdown(comment.content) %>
    </div>
  </div>

</div>
