<% unless user_signed_in? %>
  <%= render 'shared/hero' %>
<% end %>

<div class="margin-top-one padding-bottom-one">
  <div class="row">
    <% @talks.each do |talk| %>
    <%= render 'shared/talk_card', :talk => talk %>
    <% end %>
  </div>
</div>
