<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>nickname: <%= @user.nickname if @user.nickname %></p>

<p>location: <%= @user.location if @user.name %></p>
<p>description: <%= @user.description if @user.nickname %></p>

