<h1>Videos#create</h1>
<p>Find me in app/views/videos/create.html.erb</p>

<%= simple_form_for @user do |f| %>
  <%= f.input :username %>
  <%= f.input :password %>
  <%= f.button :submit %>
<% end %>
