<div class="row">

  <% @videos.each do |video| %>

  <div class="large-4 column">
    <img src="<%= video.thumbnail_url %>" class="block">
    <%= link_to video.title, video, :class=> 'ell block' %>
  </div>

  <% end %>

</div>
