<div class="margin-top-four">
  <%= form_for :video, url: videos_path do |f| %>
  <div class="row">

    <div class="large-6 column column--center">
      <div class="row">
        <div class="large-12 column">
          <div class="form-group">
            <%= f.text_field :url, :type => 'url', :placeholder => 'Video URL', :class => 'form-control', :required => 'true' %>
          </div>
        </div>

        <div class="large-12 column">
          <div class="form-group">
            <%= f.text_field :tag_list, :type => 'text', :placeholder => 'Tags', :class => 'form-control', :required => 'true' %>
          </div>
        </div>

        <div class="large-8 column">
          <%= f.submit 'Add', :class => 'button button-primary' %>
        </div>
      </div>
    </div>

  </div>
  <% end %>
</div>
