<% if user_signed_in? and current_user!= profile %>
  <div class="profile-<%= profile.id %>">
    <div id="follow_form">
      <% if current_user.follows?(profile) %>
        <%= render 'shared/unfollow' %>
      <% else %>
        <%= render 'shared/follow' %>
      <% end %>
    </div>
  </div>
<% end %>
