<%= link_to follow_path(user: @user.id), :remote => true, :method => 'get', :class=> "button button-icon button-primary", :title => "Follow" do %>
<span class="iconicstroke-plus" title="Follow"></span>
<% end %>
