  <footer class="border-top padding-top-one padding-bottom-one margin-top-two">
    <div class="row">
      <div class="large-10 column column--center">

        <div class="row">
          <div class="large-8 column">
            <p>
              <small>Copyright &copy; All Talks belong to their respective authors. Ontwik by <a class="twitter-anywhere-user" href="http://twitter.com/ahmadajmi">@ahmadAjmi</a>
              </small>
            </p>
          </div>
          <div class="large-4 column text-right">
            <p><small><a href="mailto:ahmad@ahmadajmi.com">Contact</a></small></p>
          </div>
        </div>

      </div>
    </div>
  </footer>

</body>
</html>
