  <footer class="border-top padding-top-one padding-bottom-one margin-top-two">
    <div class="row">
      <div class="large-10 column column--center">
        <p>
          <small>Copyright &copy; All Talks belong to their respective authors. Ontwik by <a class="twitter-anywhere-user" href="http://twitter.com/ahmadajmi">@ahmadAjmi</a>
          </small>
        </p>
      </div>
    </div>
  </footer>
</body>
</html>
