  <footer class="border-top padding-top-one padding-bottom-one white-bg">
    <div class="row">
      <div class="large-10 column column--center">

        <div class="row">
          <div class="large-8 column">
            <p class="margin-none">
              <small>&copy; Ontwik 2014. Made with <span class="danger"> &hearts; </span>by <a href="http://twitter.com/ahmadajmi">@ahmadajmi</a>
              </small>
            </p>
          </div>
          <div class="large-4 column text-right">
            <p class="margin-none"><small><a href="mailto:hello@ontwik.com">Contact</a></small></p>
          </div>
        </div>

      </div>
    </div>
  </footer>

  <%= render 'shared/olark' %>
</body>
</html>
