<div class="hero white padding-top-four padding-bottom-four margin-bottom-two relative">
  <div class="overlay"></div>
  <div class="row">
    <div class="large-12 column text-center">
      <h1>Your space to share your creative Talk.</h1>
      <h4>Ontwik makes it easy to share and find the best and latest talks, interviews for Developers & Designers and Creatives. </h4>
      <%= link_to 'Sign in with Twitter', '/signin', :class => 'button button-info' %>
    </div>
    <div class="large-4 column margin-top-three text-right hide">
      <%= link_to 'Sign in with Twitter', '/signin', :class => 'button button-info' %>
    </div>
  </div>
  <a href="http://2013.front-trends.com/" target="_blank" class="absolute pin-bottom-right padding-one dark-gray"><small>Image Credit</small></a>
</div>
