<div class="modal fade login-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only hide">Close</span>
      </button>

      <div class="modal-body text-center">
        <h3>You need to be logged in to do that.</h3>
        <p class='dark-gray'>Connect now using</p>
        <%= link_to 'Twitter', '/signin', :class => 'button button-info' %>
      </div>

    </div>
  </div>
</div>
