/ Twitter Card data

%meta{name: 'twitter:card', content: 'summary'}
%meta{name: 'twitter:site', content: '@ontwiik'}
%meta{name: 'twitter:url', content: request.original_url}
%meta{name: 'twitter:title', content: content_for?(:title) ? yield(:title) : t('app_name')}
%meta{name: 'twitter:description', content: content_for?(:description) ? yield(:description) : t('tagline')}

- if content_for?(:graph_image)
  %meta{name: 'twitter:image', content: yield(:graph_image)}

/ Open Graph data
%meta{content: content_for?(:title) ? yield(:title) : t('app_name'), property: 'og:title'}
%meta{content: "article", property: 'og:type'}
%meta{content: request.original_url, property: 'og:url'}
%meta{content: content_for?(:description) ? yield(:description) : t('tagline'), property: 'og:description'}
%meta{content: t('app_name'), property: 'og:site_name'}

- if content_for?(:graph_image)
  %meta{content: yield(:graph_image), property: 'og:image'}