.column.large-4.large-4.medium-6.margin-bottom-two
  = link_to({action: 'new', controller: 'talks'}, {class: 'dark-gray'}) do
    .media-cover.flex-embed.flex-embed--16by9.gray-bg.relative
      .center.text-center
        %span.ion-plus
        %h4.margin-none New
