.column.large-4.medium-6.margin-bottom-two
  .media-cover.flex-embed.flex-embed--16by9.gray-bg

.column.large-4.medium-6.margin-bottom-two
  .media-cover.flex-embed.flex-embed--16by9.gray-bg

.column.large-4.medium-6.margin-bottom-two
  .media-cover.flex-embed.flex-embed--16by9.gray-bg
