<li>
  <a href="Programming" class="small border-bottom padding-top-half padding-bottom-half block">
    Programming

  </a>        </li>
  <li>
    <a href="Technology" class="small border-bottom padding-top-half padding-bottom-half block">
      Technology

    </a>        </li>
    <li>
      <a href="Science" class="small border-bottom padding-top-half padding-bottom-half block">
        Science

      </a>        </li>
      <li>
        <a href="How-to &amp; DIY" class="small border-bottom padding-top-half padding-bottom-half block">
          How-to &amp; DIY

        </a>        </li>
        <li>
          <a href="Health" class="small border-bottom padding-top-half padding-bottom-half block">
            Health

          </a>        </li>
          <li>
            <a href="Education" class="small bo`rder-bottom padding-top-half padding-bottom-half block">
              Education

            </a>        </li>
            <li>
              <a href="Design" class="small border-bottom padding-top-half padding-bottom-half block">
                Design

              </a>        </li>
              <li>
                <a href="Business" class="small padding-top-half block">
                  Business

                </a>        </li>

