
<li>
  <a href="Programming" class="small border-bottom padding-top-half padding-bottom-half block">
    Programming
    <span class="right">2</span>
  </a>        </li>
  <li>
    <a href="Technology" class="small border-bottom padding-top-half padding-bottom-half block">
      Technology
      <span class="right">0</span>
    </a>        </li>
    <li>
      <a href="Science" class="small border-bottom padding-top-half padding-bottom-half block">
        Science
        <span class="right">0</span>
      </a>        </li>
      <li>
        <a href="How-to &amp; DIY" class="small border-bottom padding-top-half padding-bottom-half block">
          How-to &amp; DIY
          <span class="right">0</span>
        </a>        </li>
        <li>
          <a href="Health" class="small border-bottom padding-top-half padding-bottom-half block">
            Health
            <span class="right">0</span>
          </a>        </li>
          <li>
            <a href="Education" class="small border-bottom padding-top-half padding-bottom-half block">
              Education
              <span class="right">0</span>
            </a>        </li>
            <li>
              <a href="Design" class="small border-bottom padding-top-half padding-bottom-half block">
                Design
                <span class="right">0</span>
              </a>        </li>
              <li>
                <a href="Business" class="small border-bottom padding-top-half padding-bottom-half block">
                  Business
                  <span class="right">0</span>
                </a>        </li>

