<%= link_to unfollow_path(speaker: @speaker.id), :remote => true, :method => 'get', :class=> "button button-icon button-alert", :title => "unfollow" do %>
<span class="iconicstroke-x" title="unfollow"></span>
<% end %>
