<%= link_to unfollow_path(user: @user.id), :remote => true, :method => 'get', :class=> "padding-right-one padding-left-one padding-top-quarter padding-bottom-quarter danger-bg white", :title => "unfollow" do %>
<span class="iconicstroke-x" title="unfollow"></span>
<% end %>
