<%= link_to unfollow_path(profile: @profile.id), :remote => true, :method => 'get', :class=> "button button-icon button-alert", :title => "unfollow" do %>
<span class="ion-close" title="unfollow"></span>
<% end %>
