<%= link_to unlike_path(likeable_id: likeable.id, likeable_type: likeable.class ), remote: true, method: :get, :class=> "button button-icon", :title => "Unlike" do %>
<span class="ion-android-favorite-outline danger"></span>
<% end %>
