<div class="column large-4 margin-bottom-two">
  <%= link_to({:action => 'new', :controller => 'videos'}, {:class => "dark-gray"}) do %>
  <div class="media-cover flex-embed flex-embed--16by9 margin-bottom-half gray-bg relative">
    <div class="center text-center">
      <span class="iconicstroke-plus"></span>
      <h4 class="margin-none">New</h4>
    </div>
  </div>
  <div class="card-inside gray-bg padding-half">
  </div>
  <% end %>
</div>
