<div class="column large-4 margin-bottom-two">
  <div class="media-cover flex-embed flex-embed--16by9 margin-bottom-half gray-bg">
  </div>
  <div class="card-inside gray-bg padding-half">
  </div>
</div>

<div class="column large-4 margin-bottom-two">
  <div class="media-cover flex-embed flex-embed--16by9 margin-bottom-half gray-bg">
  </div>
  <div class="card-inside gray-bg padding-half">
  </div>
</div>

<div class="column large-4 margin-bottom-two">
  <div class="media-cover flex-embed flex-embed--16by9 margin-bottom-half gray-bg">
  </div>
  <div class="card-inside gray-bg padding-half">
  </div>
</div>

<div class="column large-4 margin-bottom-two">
  <div class="media-cover flex-embed flex-embed--16by9 margin-bottom-half gray-bg">
  </div>
  <div class="card-inside gray-bg padding-half">
  </div>
</div>

<div class="column large-4 margin-bottom-two">
  <div class="media-cover flex-embed flex-embed--16by9 margin-bottom-half gray-bg">
  </div>
  <div class="card-inside gray-bg padding-half">
  </div>
</div>

<div class="column large-4 margin-bottom-two">
  <div class="media-cover flex-embed flex-embed--16by9 margin-bottom-half gray-bg">
  </div>
  <div class="card-inside gray-bg padding-half">
  </div>
</div>
