<% @videos.each do |video| %>
<div class="column large-3 margin-bottom-two">
  <%= link_to video, :class=> "ell block" do %>
  <div class="cover margin-bottom-one" style="background-image: url(<%= video.thumbnail_url %>)"></div>
  <div class="white-bg">
    <div class="ell">
      <%= video.title %>
    </div>
  </div>
  <% end %>
</div>
<% end %>
