header {
  border-bottom: 1px solid $border-color;
  a {
    color: #2c3e50;
    &:hover {
      text-decoration: none;
    }
  }
}

.profiles-show-view header { border-bottom: 0; }

.brand {
  img {
    width: 70px;
    position: relative;
    top: 3px;
  }
}

.logged_out:not(.index) header { border-bottom: 0; }

// .profiles.show header,
// .talks.show header {
//   position: fixed;
//   opacity: 0;
//   width: 100%;
//   z-index: 100;
//   background: #fff;
//   transition: all 0.2s ease;

//   &:hover {
//     opacity: 1;
//   }
// }

[name='search'] {
  margin-top: 6px;
  padding: 5px;
}

.btn-search {
  border: 0 none;
  height: 25px;
  width: 25px;
  right: 20px;
  top: 8px;
}