//
// http://www.gridlover.net/app/
//

html {
  font-size: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: $base-font-family;
}

h1 {
  font-size: 1.4375rem;
  line-height: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.4375rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

// Sanitation

hr {
  border: 1px solid;
  margin: -1px 0;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

b, strong, em, small, code {
  line-height: 1;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

blockquote {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  border-left: 5px solid $gray;
}
