// Bootstrap Modal

.modal-content {
  border: 0;
  box-shadow: none;
  border-radius: 0;
}

.modal-backdrop.in {
  // opacity: 1;
  // background-color: #fff;
}

.modal-body {
  padding: 50px;
}

.modal-sm {
  width: 400px;
}

// -- Bootstrap Modal close icon

.close {
  color: #000;
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
}

button.close {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 0 none;
  cursor: pointer;
  padding: 0;
}

.modal .close {
  position: absolute;
  right: 1em;
  top: .6em;
  z-index: 100;
}

.close:hover,
.close:focus {
  color: #000;
  cursor: pointer;
  opacity: 0.5;
  text-decoration: none;
}

