$row-max-width:         77em;

 // Space unit
$base-space-unit:       1em !default;
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;


//
// Colors
//

$white:   #fff;
$gray:    #2c3e50;
$dark:    #2c3e50;
$notice:  #3498db;
$success: #1abc9c;
$danger:  #e74c3c;
$border-color: #f5f5f5;
