$row-max-width:         77em;

 // Space unit
$base-space-unit:       1em !default;
$base-radius-unit:       3px !default;
$base-font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;


//
// Colors
//

$white:   #fff;
$gray:    #F7F7F7;
$darkgray:#95a5a6;
$dark:    #2c3e50;
$black:   #000000;
$notice:  #3498db;
$success: #1abc9c;
$danger:  #e74c3c;
$border-color: #f5f5f5;
