@import 'normalize-css/normalize';
@import 'variables';
@import 'functions';
@import 'highlights';
@import 'ajmi-grid/grid';
@import url(http://weloveiconfonts.com/api/?family=iconicstroke);

// Components

@import 'components/alerts';
@import 'components/buttons';
@import 'components/tags';
@import 'components/forms';
@import 'components/card';
@import 'components/typography';

// Sections

@import 'sections/header';
@import 'sections/footer';
@import 'sections/hero';
@import 'flex-embed';
@import 'talks';
@import 'base';

@import 'helpers';

@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/modals';

/* iconicstroke */
[class*="iconicstroke-"]:before {
  font-family: 'IconicStroke', sans-serif;
}
