@import 'normalize-css/normalize';
@import 'variables';
@import 'functions';
@import 'highlights';
@import 'ajmi-grid/grid';
@import url(http://weloveiconfonts.com/api/?family=iconicstroke);


// Components

@import 'components/alerts';
@import 'components/buttons';
@import 'components/forms';
@import 'components/card';

// Sections

@import 'sections/header';
@import 'sections/hero';
@import 'flex-embed';
@import 'videos';
@import 'base';

@import 'helpers';

/* iconicstroke */
[class*="iconicstroke-"]:before {
  font-family: 'IconicStroke', sans-serif;
}
