body, html {
  height: 100%;
}

body {
  font-size: 100%;
  line-height: 1.5;
  font-family: $base-font-family;
}

a {
  color: #333;
  text-decoration: none;
  transition: color 0.2s ease 0s;
}

a:hover {
  color: #555;
}

a:active, a:hover {
  outline: 0 none;
}

img { max-width: 100%; }

//
// CSS highlight
//

.highlight {
  padding: 0;
}

pre {
  border: 0;
}
