html {
  font-size: 100%;
}

body, html {
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: $base-font-family;
}

a {
  color: #333;
  text-decoration: none;
  transition: color 0.2s ease 0s;
}

a:hover:not(.button):not([class*="button-"]) {
  color: #555;
}

a:active,
a:hover {
  outline: 0 none;
}

img { max-width: 100%; }

svg { max-height: 100%; }

.main {
  min-height: 100%;
}
