body, html {
  height: 100%;
}

body {
  font-weight: 300;
}

a {
  color: #EE5125;
  text-decoration: none;
  transition: color 0.2s ease 0s;
}

a:not(.button):hover {
  color: #FF5A5F;
  text-decoration: underline;
}

a:hover
a:active,
a:hover {
  outline: 0 none;
}

img { max-width: 100%; }

svg { max-height: 100%; }

.main {
  min-height: 100%;
}

p:empty {
  display: none;
}
