//
// Layout
//

//
// Floats

.left { float: left; }
.right { float: right; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after { clear: both; }



//
// Positions

.fixed    { position: fixed; }
.relative { position: relative; }
.absolute { position: absolute; }
.static   { position: static; }
.fixed-background { background-attachment: fixed; }


//
// Align

.text-left   { text-align: left; }
.text-right  { text-align: right; }
.text-center { text-align: center; }
.text-just   { text-align: justify; }

.v-middle    { vertical-align: middle; }
.v-bottom    { vertical-align: bottom; }


//
// Width && Height

.full-width       { width: 100%; }
.full-min-height  { min-height: 100%; }
.full-height {
  // min-height: 100%;
  height: 100vh;
}


//
// Display
//

.inline       { display: inline; }
.block        { display: block; }
.inline-block { display: inline-block; }
.hide         { display: none; }
.flex         { display: flex; }

.pin-all {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.pin-bottom {
  right: 0;
  left: 0;
  bottom: 0;
}

.pin-bottom-bight {
  right: 0;
  bottom: 0;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

//
// Typography
//

.bold     { font-weight: bold; }
.regular  { font-weight: normal; }
.italic   { font-style: italic; }

.ell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.media-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

//
// Z-index
//

.zindex-1 { z-index: 1; }
.zindex-2 { z-index: 2; }



//
// Lists
//

.no-bullets     { list-style: none; }
.bullets-inside { list-style: inside; }
.list-bare {
  margin: 0;
  padding: 0;
  @extend .no-bullets;
}


//
// Color
//


.white      { color: $white; }
.gray       { color: $gray; }
.dark-gray  { color: $darkgray; }

.notice     { color: $notice; }
.success    { color: $success; }
.danger     { color: $danger; }

.black-bg   { background-color: $black; }
.white-bg   { background-color: $white; }
.gray-bg    { background-color: $gray; }
.dark-bg    { background-color: $dark; }
.notice-bg  { background-color: $notice; }
.success-bg { background-color: $success; }
.danger-bg  { background-color: $danger; }
.white-transparent  { background-color: rgba(255,255,255,.5); }

.border-none          { border:         0; }
.border-none:focus    { border:         0; }
.border-all           { border:         1px solid $border-color; }
.border-top           { border-top:     1px solid $border-color; }
.border-bottom        { border-bottom:  1px solid $border-color; }
.border-right         { border-right:   1px solid $border-color; }
.border-left          { border-left:    1px solid $border-color; }


//
// Radius

.radius                  { border-radius: $base-radius-unit; }
.radius-half             { border-radius: 50%; }
.radius-top              { border-radius: $base-radius-unit $base-radius-unit 0 0; }
.radius-right            { border-radius: 0 $base-radius-unit $base-radius-unit 0; }
.radius-bottom           { border-radius: 0 0 $base-radius-unit $base-radius-unit; }
.radius-left             { border-radius: $base-radius-unit 0 0 $base-radius-unit; }


.pointer  { cursor: pointer; }

//
// Margin
//

//
// Top Margin

.margin-top-none        { margin-top: 0; }
.margin-top-quarter     { margin-top: quarter($base-space-unit); }
.margin-top-half        { margin-top: half($base-space-unit); }
.margin-top-one         { margin-top: $base-space-unit; }
.margin-top-two         { margin-top: double($base-space-unit); }
.margin-top-three       { margin-top: threefold($base-space-unit); }
.margin-top-four        { margin-top: quadruple($base-space-unit); }


//
// Bottom Margin

.margin-bottom-none     { margin-bottom: 0; }
.margin-bottom-quarter  { margin-bottom: quarter($base-space-unit); }
.margin-bottom-half     { margin-bottom: half($base-space-unit); }
.margin-bottom-one      { margin-bottom: $base-space-unit; }
.margin-bottom-two      { margin-bottom: double($base-space-unit); }
.margin-bottom-three    { margin-bottom: threefold($base-space-unit); }
.margin-bottom-four     { margin-bottom: quadruple($base-space-unit); }


//
// Right Margin
.margin-right-none      { margin-right: 0; }
.margin-right-quarter   { margin-right: quarter($base-space-unit); }
.margin-right-half      { margin-right: half($base-space-unit); }
.margin-right-one       { margin-right: $base-space-unit; }
.margin-right-two       { margin-right: double($base-space-unit); }
.margin-right-three     { margin-right: threefold($base-space-unit); }
.margin-right-four      { margin-right: quadruple($base-space-unit); }


//
// Left Margin

.margin-left-none       { margin-left: 0; }
.margin-left-quarter   { margin-left: quarter($base-space-unit); }
.margin-left-half      { margin-left: half($base-space-unit); }
.margin-left-one       { margin-left: $base-space-unit; }
.margin-left-two       { margin-left: double($base-space-unit); }
.margin-left-three     { margin-left: threefold($base-space-unit); }
.margin-left-four      { margin-left: quadruple($base-space-unit); }


//
// Margin All
.margin-none      { margin: 0; }
.margin-quarter   { margin: quarter($base-space-unit); }
.margin-half      { margin: half($base-space-unit); }
.margin-one       { margin: $base-space-unit; }
.margin-two       { margin: double($base-space-unit); }
.margin-three     { margin: threefold($base-space-unit); }
.margin-four      { margin: quadruple($base-space-unit); }


//
// Padding
//

//
// Top Padding

.padding-top-none       { padding-top: 0; }
.padding-top-quarter    { padding-top: quarter($base-space-unit); }
.padding-top-half      { padding-top: half($base-space-unit); }
.padding-top-one        { padding-top: $base-space-unit; }
.padding-top-two        { padding-top: double($base-space-unit); }
.padding-top-three      { padding-top: threefold($base-space-unit); }
.padding-top-four       { padding-top: quadruple($base-space-unit); }


//
// Bottom Padding

.padding-bottom-none    { padding-bottom: 0; }
.padding-bottom-quarter { padding-bottom: quarter($base-space-unit); }
.padding-bottom-half   { padding-bottom: half($base-space-unit); }
.padding-bottom-one     { padding-bottom: $base-space-unit; }
.padding-bottom-two     { padding-bottom: double($base-space-unit); }
.padding-bottom-three   { padding-bottom: threefold($base-space-unit); }
.padding-bottom-four    { padding-bottom: quadruple($base-space-unit); }


//
// Right Padding

.padding-right-none       { padding-right: 0; }
.padding-right-quarter    { padding-right: quarter($base-space-unit); }
.padding-right-half      { padding-right: half($base-space-unit); }
.padding-right-one        { padding-right: $base-space-unit; }
.padding-right-two        { padding-right: double($base-space-unit); }
.padding-right-three      { padding-right: threefold($base-space-unit); }
.padding-right-four       { padding-right: quadruple($base-space-unit); }


//
// Left Padding
.padding-left-none       { padding-left: 0; }
.padding-left-quarter    { padding-left: quarter($base-space-unit); }
.padding-left-half      { padding-left: half($base-space-unit); }
.padding-left-one        { padding-left: $base-space-unit; }
.padding-left-two        { padding-left: double($base-space-unit); }
.padding-left-three      { padding-left: threefold($base-space-unit); }
.padding-left-four       { padding-left: quadruple($base-space-unit); }


//
// Padding All

.padding-none           { padding: 0; }
.padding-quarter        { padding: quarter($base-space-unit); }
.padding-half          { padding: half($base-space-unit); }
.padding-one            { padding: $base-space-unit; }
.padding-two            { padding: double($base-space-unit); }
.padding-three          { padding: threefold($base-space-unit); }
.padding-four           { padding: quadruple($base-space-unit); }
