.card-title {
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
  color: #0367b0;
}

.card a:hover,
.card:hover a {
  color: #fff;
  text-decoration: underline;
}

.overlay {
  transition: all 0.3s ease-out;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) 90%);

  &:hover {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 90%);
  }
}

.talk-title {
  font-size: 2rem;
  font-weight: 300;
}

.talks-new-view,
.talks-create-view,
.talks-edit-view,
.profiles-edit-view {
  background-color: $gray;
}
