.card-title {
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
  color: #0367b0;
  text-transform: uppercase;
}

.overlay {
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}

.talk-title {
  font-size: 2rem;
  font-weight: 300;
}

.talks-new-view,
.talks-create-view,
.talks-edit-view,
.profiles-edit-view {
  background-color: $gray;
}
