// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-brand {
  color: #00bf8f;
}

.cover {
 background-color: #ecf0f4;
 background-position: center center;
 background-size: cover;
 display: block;
 height: 0;
 overflow: hidden;
 padding-top: 55%;
 position: relative;
}
