<div class="column large-2 small-4 margin-bottom-two">
  <%= link_to speaker.nickname, :class=> "block dark-gray", :title => 'Profile' do %>
  <div class="media-cover flex-embed flex-embed--16by9 margin-bottom-half gray-bg relative" style="background-image: url(<%= speaker.image if speaker.image %>)">
  </div>
  <div class="card-inside gray-bg padding-half text-center">
    <%= speaker.name %>
  </div>
  <% end %>
</div>
