<% content_for :title do %>
Speaker
<% end %>

<div class="row">
  <div class="large-12 column">
   <h3>Speakers</h3>
 </div>

 <% @speakers.each do |speaker| %>
 <%= render speaker %>
 <% end %>

</div>
