<%# add navigation links to this file %>
<li>
  <%= link_to 'About', page_path('about') %>
</li>

<li>
  <%=link_to "Videos", :controller => :videos, :action => :index %>
</li>

<li>
  <%=link_to "Add", :controller => :videos, :action => :new %>
</li>

<li>
  <%= link_to current_user.name, current_user %>
</li>



