<% if user_signed_in? %>

<li class="inline-block">
	<%=link_to "Add", :controller => :videos, :action => :new %>
</li>

<li class="inline-block padding-right-one padding-left-one">
	<%= link_to current_user.name, current_user %>
</li>

<li class="inline-block">
  <%= link_to 'Signout', '/signout' %>
</li>

<% else %>

<li>
  <%= link_to 'Sign in with Twitter', '/signin', :class => 'btn-twitter' %>
</li>

<% end %>
