
<% if user_signed_in? %>

<li>
	<%=link_to "Add", :controller => :videos, :action => :new %>
</li>

<li>
	<%= link_to current_user.name, current_user %>		
</li>

<li><%= link_to 'Signout', '/signout' %></li>

<% else %>

<li class="active">
	<%= link_to 'Sign in with Twitter', '/signin' %>
</li>

<% end %>
